.checkbox-field {
  display: flex;
  align-items: center;
  width: fit-content;

  &.right {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  & label {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--primary-text);
    margin: 0 4px;
  }

  & input[type="checkbox"] {
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    width: 20px;
    height: 20px;
    background-color: var(--background);
    border: var(--thick-border);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &::after {
      content: "";
      border-radius: var(--border-radius);
      display: block;
      width: 12px;
      height: 12px;
      margin: 2px;
      background-color: var(--light-primary);
      visibility: hidden;
    }

    &:checked::after {
      visibility: visible;
    }
  }
}
