.container {
  display: flex;
  max-width: 1320px;
  margin: 80px auto;
  flex-wrap: wrap;
  justify-content: space-between;

  form {
    width: 45%;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loans {
  width: 45%;
  border: var(--thick-border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  padding: 0px 16px 12px;
  background-color: var(--background);
  color: var(--primary-text);
}

.button-group {
  display: grid;
  width: 45em;
  gap: 1em;
}

.button-group p {
  flex-grow: 1;
  margin: 0;
}

h2 {
  margin-bottom: 2em;
}

.loan-summaries {
  max-height: 45em;
  overflow-y: auto;
}
