.container {
  display: flex;
  padding: 1em;
  align-content: space-evenly;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile {
  width: 65%;
}

.loans {
  width: auto;
  border: var(--thick-border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  padding: 12px 16px;
  margin-left: 3em;
  background-color: var(--background);
  color: var(--primary-text);
}

.button-group {
  display: flex;
  justify-content: flex-end;
  width: 45em;
  align-items: center;
  gap: 1em;
}

.button-group p {
  flex-grow: 1;
  text-align: right;
  margin: 0;
}

h2 {
  margin-bottom: 2em;
}

.loan-summaries {
  max-height: 45em;
  overflow-y: auto;
}
