
<div class="container">
    <div class="card" *ngFor="let element of data;">
        <div class="card-details">
            <img [src]="element.img">
        </div>
        <div class="card-details">
            <h3>${{element.amount}}</h3>
            <span>Tasa de interés {{element.tax}}%</span>
            <span>{{element.months}} meses</span>
            <app-button [text]="'Ver Detalles'" [primary]="true" [underline]="true" [routerLink]="['/prestamo']"></app-button>
        </div>
    </div>
</div>
