
<div class="container">
    <div class="card" *ngFor="let element of data;">
        <div class="card-details">
            <img *ngIf="element.img" [src]="element.img" alt="Foto descriptiva de un prestamo">
            <img *ngIf="!element.img" src="assets/logo.png" alt="Logo de prestatuanis">
            <h3>{{element.title}}</h3>
        </div>
        <div class="card-details">
            <h3>${{element.amount}}</h3>
            <span>Tasa de interés {{element.tax}}%</span>
            <span>{{element.months}} meses</span>
            <span *ngIf="element.prestamista">Prestamista: {{element.prestamista.name}}</span>
            <span *ngIf="!element.prestamista">Sin prestamista</span>
            <app-button [text]="'Ver Detalles'" [primary]="true" (click)="viewDetails(element.id)"></app-button>
        </div>
    </div>
</div>
