.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    .card {
        background-color: var(--background);
        border: var(--thick-border);
        border-radius: var(--border-radius);
        box-shadow: var(--shadow);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 296px;
        margin-top: 32px;
        padding: 8px 0px;

        &:not(:last-child) {
            margin-right: 32px;
        }
        
        img {
            width: 264px;
            height: 264px;
        }

        &-details {
            h3 {
                margin: 0;
            }
            display: grid;
            padding: 8px 16px;
            gap: 10px;
        }
    }
}