.input-field {
  display: grid;

  & label, & input {
    transition: all 0.3s;
    outline: none;
  }

  & label {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 20px; /* Aumentar el tamaño de fuente */
    line-height: 24px; /* Ajustar este valor según sea necesario */
    color: var(--primary-text);
  }

  & input {
    border: var(--thick-border);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    padding: 12px 16px;
    margin-top: 12px;
    background-color: var(--background); /* Establecer el color de fondo del campo de entrada */
    color: var(--primary-text); /* Establecer el color del texto de entrada */

    &::placeholder {
      color: var(--placeholder); /* Establecer el color del texto del marcador de posición */
    }
  }

  &.active {
    input, label {
      font-size: 18px; /* Disminuir el tamaño de fuente cuando está enfocado */
      color: var(--light-primary);
    }

    input {
      border-color: var(--light-primary);
    }
  }

  &.invalid {
    input {
      border-color: var(--error-color);
    }
  }

  .error-message {
    color: var(--error-color);
    font-size: 14px;
    margin-top: 5px;
  }

  // & label.active, & input:focus + label {
  //   font-size: 22px; /* Disminuir el tamaño de fuente cuando está enfocado */
  //   color: var(--light-primary);
  // }

  // & input.active {
  //   border-color: var(--light-primary);
  // }
}
