.input-field {
  position: relative;
  margin: 1em 1em 4em 1em;

  & label, & input {
    transition: all 0.3s;
    outline: none;
  }

  & label {
    position: absolute;
    top: -1.2em; /* Ajustar este valor según sea necesario, lo siento un poco pegado al texto */
    left: 0;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 24px; /* Aumentar el tamaño de fuente */
    line-height: 24px; /* Ajustar este valor según sea necesario */
    color: var(--primary-text);
  }

  & input {
    border: var(--thick-border);
    border-radius: 0.4em;
    box-shadow: var(--shadow);
    padding: 12px 16px;
    width: 30em;
    background-color: var(--background); /* Establecer el color de fondo del campo de entrada */
    color: var(--primary-text); /* Establecer el color del texto de entrada */

    &::placeholder {
      color: var(--placeholder); /* Establecer el color del texto del marcador de posición */
    }
  }

  & label.active, & input:focus + label {
    font-size: 22px; /* Disminuir el tamaño de fuente cuando está enfocado */
    color: var(--light-primary);
  }

  & input.active {
    border-color: var(--light-primary);
  }
}
