
.modal {
    background-color: var(--dark-secondary);
    border: var(--thick-border);
    box-shadow: var(--shadow);
    color: var(--secondary-text);
    height: fit-content;
    margin: auto;
    padding: 8px 16px;
    position: absolute;
    text-align: center;
    width: 450px;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    &-header {
        display: flex;
        justify-content: space-between;
    }
}