.container {
    padding: 32px;

    h1 {
        margin-top: 0;
    }

    &-search {
        .controls {
            app-input {
                width: 70%;
            }
            app-button  {
                margin-left: 20px;
            }
            display: flex;
            max-width: 60%;
            align-items: flex-end;
        }
    }

    &-filter span{
        font-weight: 700;
    }

    &-no-results {
        margin: 120px auto;
        text-align: center;
    }
}