<div class="container">
    <h1>Buscar Préstamo</h1>
    <div class="container-search" [formGroup]="searchForm">
        <div class="controls">
            <app-input [tabindex]="8" (keyup.enter)="onSubmit()" formControlName="searchValue" [placeholder]="'Buscar préstamos para financiar'" [type]="'number'"></app-input>
            <app-button [tabindex]="9"[text]="'Buscar'" [primary]="true" (click)="onSubmit()" [disabled]="!searchForm.valid || searchFilterText===''" ></app-button>
            <app-button [tabindex]="10" (onSelectDropdownOption)="selectFilterOption($event)" [text]="'Filtrar'" [primary]="false" [dropdown]="true" [dropdownValues]="filterOptions"></app-button>
        </div>
        <div class="labels">
            <p class="container-filter">Filtrar por: <span>{{searchFilterText}}</span></p>
            <app-checkbox (click)="filterData()" (keyup.enter)="filterData()" [tabindex]="15" formControlName="sinPrestamistas" [label]="'Sin prestamistas'"></app-checkbox>
        </div>
    </div>
    <app-card-group [data]="filteredData"></app-card-group>
    <h2 class="container-no-results" *ngIf="filteredData.length === 0">No hay préstamos que mostrar</h2>
</div>