<div class="container">
    <h1>Solicitud de Préstamo</h1>
    <h2 *ngIf="title">Propósito: {{title}}</h2>
    <div class="container-header">
        <div class="card">
            <h2>Información de préstamo</h2>
            <p><span>Solicitado:</span>${{amount}}</p>
            <p><span>Tasa de Interés:</span>{{tax}}%</p>
            <p><span>Periodo:</span>{{months}} meses</p>
            <p><span>Fecha de solicitud:</span>{{solicitedDate}}</p>
            <p><span>Riesgo calculado por PrestaTuanis:</span>{{risk}}%</p>
            <p *ngIf="loan?.prestamista"><span>Prestamista:</span>{{loan?.prestamista?.name}}</p>
        </div>
        <div class="card">
            <h2>Información prestatario</h2>
            <div class="card-name">
                <img src="../../../assets/avatar.png" alt="Imagen de un avatar por defecto">
                <h3>{{userName}}</h3>
            </div>
            <span>{{userAddress}}</span>
            <span>Detalles de contacto</span>
            <span>{{userEmail}}</span>
        </div>
    </div>
    <div class="container-button" *ngIf="showButton">
        <app-button [tabindex]="8" [text]="'Financiar'" [primary]="true" (click)="financiar()" [large]="true"></app-button>
    </div>
    <div class="card">
        <h3>Documentos</h3>
        <div class="card-container">
            <a tabindex="9">Generar contrato parcial de préstamo</a>
            <a tabindex="10">Condiciones de PrestaTuanis</a>
            <a tabindex="11">Información detalles Reparación Juan Gomez</a>
        </div>
    </div>
    <div class="card">
        <h3>Status de préstamo</h3>
        <p><span>Estado actual:</span>{{status}}</p>
        <p><span>Comentarios</span></p>
        <span>{{description}}</span>
    </div>
</div>