<div class="container">
    <h1>Solicitud de Préstamo</h1>
    <div class="container-header">
        <div class="card">
            <h2>Información de préstamo</h2>
            <p><span>Solicitado:</span>$4000</p>
            <p><span>Tasa de Interés:</span>5%</p>
            <p><span>Periodo:</span>60 meses</p>
            <p><span>Fecha de solicitud:</span>01/01/2026</p>
            <p><span>Riesgo calculado por PrestaTuanis:</span>70%</p>
        </div>
        <div class="card">
            <h2>Información prestatario</h2>
            <div class="card-name">
                <img src="../../../assets/avatar.png">
                <h3>Reparación Juan Gomez</h3>
            </div>
            <span>Montes de Oca, San José, Costa Rica</span>
            <span>Detalles de contacto</span>
            <span>juan.gomez@ejemplo.com</span>
        </div>
    </div>
    <div class="container-button">
        <app-button [text]="'Financiar'" [primary]="true" [large]="true"></app-button>
    </div>
    <div class="card">
        <h3>Documentos</h3>
        <div class="card-container">
            <a>Generar contrato parcial de préstamo</a>
            <a>Condiciones de PrestaTuanis</a>
            <a>Información detalles Reparación Juan Gomez</a>
        </div>
    </div>
    <div class="card">
        <h3>Historial Préstamos Reparación Juan Gomez</h3>
        <table>
            <tr>
              <th>Fecha</th>
              <th>Monto</th>
              <th>Calificación</th>
            </tr>
            <tr>
              <td>01/01/2023</td>
              <td>$1000</td>
              <td>9/10</td>
            </tr>
            <tr>
              <td>01/01/2024</td>
              <td>$2000</td>
              <td>9/10</td>
            </tr>
            <tr>
              <td>01/01/2025</td>
              <td>$500</td>
              <td>9/10</td>
            </tr>
            <tr>
              <td>01/01/2026</td>
              <td>$3000</td>
              <td>9/10</td>
            </tr>
          </table>
    </div>
    <div class="card">
        <h3>Status de préstamo</h3>
        <p><span>Estado actual:</span>En solicitud</p>
        <p><span>Comentarios</span></p>
        <span>Elit bibendum ipsum, vel bibendum ipsum elit vel ipsum. Sed euismod, diam eget bibendum bibendum, velit elit </span>
    </div>
</div>