
<h1>Creación de Solicitud de Préstamos</h1>

<div class="container" [formGroup]="creationForm">
    <app-input formControlName="amount" [label]="'Cantidad en dólares'" [placeholder]="'Ingrese el monto a solicitar en dólares'" [type]="'number'"></app-input>
    <app-input formControlName="tax" [label]="'Tasa de interés solicitada'" [placeholder]="'Ingrese el número correspondiente a la tasa de interés a solicitar'" [type]="'number'"></app-input>
    <app-input formControlName="months" [label]="'Periodo de pago'" [placeholder]="'Ingrese el periodo de pago (hasta 60 meses)'" [type]="'number'"></app-input>
    <app-input formControlName="purpose" [label]="'Propósito del préstamo'" [placeholder]="'Ingrese el propósito del préstamo'"></app-input>
    <div class="container-description">
        <div class="description">
            <app-input formControlName="description" [label]="'Descripción'" [placeholder]="'Ingrese alguna descripción'" [textArea]="true"></app-input>
            <app-button (click)="onSubmit()" [disabled]="!creationForm.valid" [text]="'Publicar'" [primary]="true"></app-button>
        </div>
        <div class="upload-img">
            <div class="upload-img-preview">
                <img #imagePreview alt="Imagen previa">
            </div>
            <input formControlName="image" type="file" #inputFileUploaded (change)="handleFileChanged()" accept="image/png, image/gif, image/jpeg">
            <app-button (click)="handleUploadLinkClick()" [text]="'Subir imagen'"></app-button>
        </div>
    </div>
    <div class="container-details">
        <div class="container-details-values">
            <h2>
                Detalles y desgloces de pago
            </h2>
            <h3>Probabilidad de financiamiento: {{probability}}%</h3>
            <h3>Total a pagar: ${{totalAmount}}</h3>
            <h3>Pago mensual (sin interés): ${{payment}}</h3>
            <h3>Fecha de primer pago: {{firstMonth}}</h3>
            <h3>Fecha de último pago: {{lastMonth}}</h3>
        </div>
        <div class="container-details-graphic">
            <h3>Interés mensual</h3>
            <app-graph [data]="graphData"></app-graph>
        </div>
    </div>

    <app-modal
        *ngIf="showModal"
        (onClose)="redirectToPrestamo()"
        [header]="'Éxito!'"
        [title]="'Su solicitud de préstamo ha sido creada y se le informará cuando un prestamista esté interesado!'"
    >
    </app-modal>
  </div>
  