<app-toolbar></app-toolbar>

<app-modal 
[header]="'Éxito!'"
[title]="'Los detalles de su perfil han sido actualizados con éxito'"
[content]="'Como ha actualizado todos los campos. Es elegible para  crear solicitudes de préstamo.'"
>

</app-modal>

<app-button [text]="'Primary'" [primary]="true"></app-button>
<app-button [text]="'Secondary'" [primary]="false"></app-button>
<app-button [text]="'Underline'" [primary]="true" [underline]="true"></app-button>
<app-button [text]="'Underline'" [primary]="false" [underline]="true"></app-button>

<app-footer></app-footer>
<router-outlet></router-outlet>
