<app-toolbar [authenticated]=true></app-toolbar>


<router-outlet></router-outlet>


<!--Dejando como repositorio de componentes.-->


<!--<app-modal-->
<!--[header]="'Éxito!'"-->
<!--[title]="'Los detalles de su perfil han sido actualizados con éxito'"-->
<!--[content]="'Como ha actualizado todos los campos. Es elegible para  crear solicitudes de préstamo.'"-->
<!--&gt;-->

<!--</app-modal>-->

<!--<app-button [text]="'Primary'" [primary]="true"></app-button>-->
<!--<app-button [text]="'Secondary'" [primary]="false"></app-button>-->
<!--<app-button [text]="'Underline'" [primary]="true" [underline]="true"></app-button>-->
<!--<app-button [text]="'Underline'" [primary]="false" [underline]="true"></app-button>-->

<!--<app-input [label]="'Título'" [placeholder]="'Introduzca su título'">></app-input>-->
<!--<app-input [label]="'Título 2'" [placeholder]="'Introduzca su título'">></app-input>-->
<!--<app-input [label]="'Título 3'" [placeholder]="'Introduzca su título'">></app-input>-->

<!--<app-checkbox [label]="'Chequeeme'" [right]="false"></app-checkbox>-->
<!--<app-checkbox [label]="'o a mí'" [right]="true"></app-checkbox>-->


<!--<app-radio [label]="'Elija uno'"-->
<!--           [options]="['Option 1', 'Option 2', 'Option 3']">-->
<!--</app-radio>-->

<!-- <app-footer></app-footer> -->
