p {
    text-align: center;
    font-size: 24px;
    margin: 160px auto 36px;
    padding: 16px;
    max-width: 900px;
    white-space: pre-line;

    color: var(--primary-text);
}

.button-group {
    max-width: 456px;
    gap: 20px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}