
button {
    border: var(--thick-border);
    cursor: pointer;
    filter: var(--shadow);
    padding: 12px 16px;

    &.primary-button {
        background-color: var(--light-primary);
    }

    &.secondary-button {
        background-color: var(--dark-primary);
        color: var(--secondary-text);
    }
}