
button {
    border: var(--thick-border);
    border-radius: var(--border-radius);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    padding: 11px 16px;

    &:hover {
        filter: brightness(95%);
    }

    &.primary-button {
        background-color: var(--light-primary);
    }

    &.secondary-button {
        background-color: var(--dark-primary);
        color: var(--secondary-text);
    }

    &.large-button {
        width: 100%;
    }

  &.disabled {
    cursor: not-allowed;
    filter: brightness(50%);
  }
}

.dropdown-button {
    span {
        display: flex;
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 4px;
        vertical-align: middle;
        border-top: 5px dashed;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
    }

    &.show-dropdown {
        span {
            transform: rotate(180deg);
        }
    }
}

.dropdown-content {
    border-radius: var(--border-radius);
    position: absolute;
    background-color: var(--background);
    min-width: 160px;
    overflow: auto;
    z-index: 1;
    box-shadow: var(--shadow);
    display: grid;

    span {
        padding: 12px 16px;
        display: block;

        &:hover {
            background-color: var(--dark-background);
            cursor: pointer;
        }
    }
}