<button [disabled]="disabled"
        (click)="openDropdown()" 
        [tabindex]="tabindex"
        [ngClass]="{'primary-button' : primary, 'secondary-button': !primary, 'large-button': large, 'disabled': disabled, 'dropdown-button': dropdown, 'show-dropdown': showDropdown}">
        {{text}}<span *ngIf="dropdown"></span>
</button>
<div #dropdownContent class="dropdown-content" *ngIf="showDropdown">
        <a [tabindex]="element.tabindex" (click)="selectDropdownOption(element)" (keyup.enter)="selectDropdownOption(element)" class="dropdown-option" *ngFor="let element of dropdownValues">
                {{element.text}}
        </a>
</div>
