
button {
    border: var(--thick-border);
    border-radius: var(--border-radius);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    padding: 12px 16px;

    &:hover {
        filter: brightness(95%);
    }

    &.primary-button {
        background-color: var(--light-primary);
    }

    &.secondary-button {
        background-color: var(--dark-primary);
        color: var(--secondary-text);
    }

    &.large-button {
        width: 100%;
    }
}