
.toolbar {
    align-items: center;
    background-color: var(--light-secondary);
    border: var(--thin-border);
    box-shadow: var(--shadow);
    display: flex;
    padding: 8px 16px;
  margin-bottom: 3em;

    &-img {
        width: 40px;
    }

    &-title {
        font-weight: 700;
        font-size: 40px;
        margin: auto;
    }
}
