<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    class="toolbar-img"
    alt="PrestaTuanis Logo"
    src="../../../favicon.ico"
  />
  <ng-container *ngIf="!authenticated; else authenticatedMenu">
    <a tabindex="1" *ngIf="!authService.getOnLoginPage()" class="toolbar-link" [routerLink]="['/'+LOGIN_PATH]">
      Iniciar Sesión
    </a>
    <a tabindex="1" *ngIf="authService.getOnLoginPage()" class="toolbar-link" [routerLink]="['/'+SIGN_UP_PATH]">
      Registrarse
    </a>
  </ng-container>

  <span class="toolbar-title">PrestaTuanis</span>

  <ng-template #authenticatedMenu>
    <button class="hamburger-menu" (click)="toggleMenu()" tabindex="1">☰</button>

    <div class="menu-overlay" *ngIf="menuOpen">
      <!--      Añadir logica para que cambien-->
      <a tabindex="2"[routerLink]="['/'+PRESTAMISTA_PROFILE_PATH]" (click)="toggleMenu()">Mi Perfil de Prestamista</a>
      <a tabindex="3" [routerLink]="['/'+PRESTATARIO_PROFILE_PATH]" (click)="toggleMenu()">Mi Perfil de Prestatario</a>
      <!--      Añadir logica para que estos no esten y cuando !authenticated si esten-->
      <a tabindex="5" [routerLink]="['/buscar-prestamo']" (click)="toggleMenu()">Buscar Préstamo</a>
      <a tabindex="6" [routerLink]="['/crear-prestamo']" (click)="toggleMenu()">Crear Préstamo</a>
      <a tabindex="7" [routerLink]="['/'+LOGIN_PATH]" (click)="logout()">Cerrar Sesión</a>
    </div>
  </ng-template>
</div>
